__pycache__/
default.target.wants/
.config/lazygit/state.yml
configstore/
github-copilot/
htop/


.config/systemd/user/pipewire.service.wants
.config/systemd/user/sockets.target.wants
.config/systemd/user/pipewire-session-manager.service

.env
.env.*
*.local
.config/github-copilot/
.config/lazygit/
.config/.vscode/
.config/htop/
.config/systemd/
.config/dbus/
.config/hueadm/
